.pages-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.infobox {
    width: 100%;
    height: auto;
    max-width: 20em;
        img{
            border: 0;
            vertical-align: middle;
            height: auto;
            width: 100%;
        }
}

figure {
    width: 100%;
    height: auto;
}