main {
    display: flex;
    /* background-image: url('/assets/beach_backdrop2.svg'); */
}

.pages-container {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
}