main {
    display: flex;
    /* overflow: hidden; */
}

.pages-container {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#webpack-dev-server-client-overlay{
    /* display:none; */
}