
.pages-container {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: nowrap;
}

#webpack-dev-server-client-overlay{
    /* display:none; */
}

@media (max-width: 720px) {
    svg{
        width: 500px;
        height: 100vh !important;
    }
body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    position: fixed;
}
#app-parent{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    main{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        #landingPage{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            background-size: 230%;
            background-position-y: 30%;
            position: revert;
            flex-direction: column;
            flex-wrap: nowrap;
            min-width: 430px;
            max-width: 720px;
            background-repeat: no-repeat;
            section{
                display: none;
            }
            .landing-buttons {
                margin-top: 400px;
                width: 300px;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: stretch;   
                button{    
                    margin-bottom: 20px;    
                }
            }
            #bananaContainer{
                z-index: 1;
                position: fixed;
                top: 0px;
                left: 0px;
                transform: translate(2%, -15%);
                align-self: center;
                #link{
                    width: 25%;
                    position: relative;
                    z-index: 1;
                    overflow: visible;
                }
            }
        }
    }
}
#homepage{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-content: flex-start;
}
#backgroundContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    z-index: 0;
    position: fixed;
    width: 100vw;
    height: 100vh !important;
    #beachBackground{

    }
}
nav{
    background-color: rgb(120, 204, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 0 20px;
    overflow: hidden;
    z-index: 2;
    position: revert !important;
    width: 108%;
    opacity: 0.8;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: -50px;
    a{
        margin-top: 5px;
        margin-bottom: -4px;
    }
    button{
        p{
     
        }
        img{

        }
    }
}
.background-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* position: revert !important; */
    max-width: 720px;
    min-width: 430px;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    height: max-content;
    overflow-y: hidden !important;
    #links-container{
        max-width: 720px;
        background-size: 100%;
        background-color: rgb(252, 184, 5);
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        opacity: 0.9;
        margin-top: 0px;
        position: revert;
        width: 100%;
        max-height: 78px;
        #linkTails{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            overflow: overlay;
        }
        header{
            width: 100%;
            background-color: rgb(255 255 255);
            border-bottom: 2px solid black;
            h4{
                border-radius: 0px;
                background-color: rgba(255, 255, 255, .85);
                font-size: 20px;
                padding: 0 0px 0 0px;
                margin: 0px 0;
            }
        }
    }
}
.outer-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    max-width: 720px !important;
    height: max-content;
    width: 100% !important;
}
#main-content{
    height: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    max-width: 720px;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    width: 100%;
}
#main-page{
    position: revert;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 90vh;
}
#page-container{
    width: 300px;
    height: 34vh;
    border: 1px solid black;
    padding: 25px;
    margin: 20px;
    min-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255, .75);
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 200px;
    z-index: 10;
    min-height: 200px;
}
#pageContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    zoom: 60%;
}
    #additionalImages, img{
            zoom: 60%;
    }
    #greedy-monkey{
        display:none;
    }
    #rightNav{
        display: none;
    }
}

@media (max-width: 877px) {
    nav > :nth-child(4){
        font-size: 10px;
    }
}

@media (max-width: 877px) {
    nav > :nth-child(3){
        font-size: 10px;
    }
}



