.link-container {
    background: white;
    max-width: 322px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 322px;
}

.link-container p {
    margin-top: 1px;
    margin-bottom: 1px;
    color: rgb(53,98,201);
    &:hover{
        cursor: pointer;
    }
}
